@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --colorPrimary: #2196f3;
  --colorPrimaryLight: #6ec6ff;
  --colorPrimaryDark: #0069c0;

  --colorSecondary: #ffca28;
  --colorSecondaryLight: #fffd61;
  --colorSecondaryDark: #c79a00;
  --colorSecondaryDim: rgba(255,202,40, 0.5);
}

* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(250,250,250);
  color: #333;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: var(--colorPrimary);
}
a:hover {
  text-decoration: underline;
}

.player-btn {
  border: none !important;
  background: none !important;
}
.player-btn:before {
  font-size: 4em;
  text-shadow: 0 0 5px #333;
}

.router-root {
  height: 100vh;
}
